# This file is used by Streamlit Cloud for hosting
# If you want to run the cli, please install requirements_cli.txt

# Core requirement for clipping
pydub==0.25.1

# Required for Streamlit app
streamlit==1.37.0
